body
{
	font-family: 'Century Gothic', Calibri, serif; 
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	color: rgba(26,26,26,.75);
}

.p1{
	background-color: rgba(74, 105, 189,0.35);
}
.p2{
	background-color: rgba(189, 195, 199,0.15);
}
.p3{
	background-color: rgba(235, 47, 6,0.35);
}
.bgimg{
	margin: 20px;
	background: url("calais_petit.jpg");
	height: 350px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	/*position: relative;
	color: #fff;*/
}

form{
	margin: auto;
	padding: 10px;
	border: 1px solid #aaaaaa;
	width: 250px;
	height: 400px;
}
.choix{
	margin-bottom: 10px;
	line-height: 25px;
	margin-right: 20px;
	width: 230px;
}
.sec{
	margin: 0px 10%;
}
